.mainSection {
    flex: 1;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 900px) {
        flex-direction: column;
        gap: 45px;
    }

    @media (max-width: 650px) {
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 70px;
        position: relative;
        overflow: hidden;
    }

    @media (max-width: 450px) {
        padding-left: 10px;
    }

    .title {
        width: 400px;

        @media (max-width: 900px) {
            width: 100%;
        }

        h1 {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 4.8rem;

            @media (max-width: 500px) {
                font-size: 4rem;
            }

            span {
                background: linear-gradient(
                        92deg,
                        #fcb045 27.14%,
                        #ff3f78 121.36%
                    ),
                    #e4e5ea;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-weight: 900;
            }
        }

        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.8rem;
            font-weight: 400;
            text-align: left;
            width: 300px;
            margin-top: 30px;
        }
    }

    .infoBlock {
        text-align: right;
        display: flex;
        flex-direction: column;

        @media (max-width: 900px) {
            text-align: left;
            align-items: flex-start;
        }

        h2 {
            width: 291px;
            align-self: flex-end;
            margin-bottom: 40px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 1.8rem;

            @media (max-width: 900px) {
                align-self: flex-start;
            }

            span {
                font-weight: 700;
                letter-spacing: 0.05rem;
                text-transform: uppercase;
                background: linear-gradient(
                    90deg,
                    #fcb045 36.99%,
                    #fd1d1d 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }

        .btn {
            margin-top: 60px;
            align-self: flex-end;

            @media (max-width: 900px) {
                align-self: flex-start;
                width: 350px;
            }

            a {
                padding: 21px 35px;
                background: #4077f3;
                text-align: center;
                color: #e4e5ea;
                text-decoration: none;
                display: block;
                font-family: 'Inter', sans-serif;
                font-size: 1.6rem;
            }
        }
    }

    .infoBlockMobile {
        text-align: right;
        display: flex;
        flex-direction: column;

        @media (max-width: 900px) {
            text-align: left;
            align-items: flex-start;
        }

        h2 {
            width: 291px;
            align-self: flex-end;
            margin-bottom: 15px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 1.8rem;

            @media (max-width: 900px) {
                align-self: flex-start;
            }

            span {
                font-weight: 700;
                letter-spacing: 0.05rem;
                background: linear-gradient(
                    90deg,
                    #fcb045 36.99%,
                    #fd1d1d 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }

        .infoMobile {
            display: flex;
            gap: 20px;

            div {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 400;
                font-family: 'Montserrat', sans-serif;
                letter-spacing: 0.05rem;
                display: flex;
                gap: 5px;
                align-items: center;

                &::before {
                    content: '';
                    display: block;
                    width: 12px;
                    height: 1px;
                    background: linear-gradient(
                        90deg,
                        #fcb045 36.99%,
                        #fd1d1d 100%
                    );
                }
            }
        }
    }

    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;

        .column {
            display: flex;
            flex-direction: column;
            gap: 30px;

            div {
                display: flex;
                flex-direction: column;
                gap: 6px;
            }

            h4 {
                letter-spacing: 0.05rem;
                font-size: 1.8rem;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
            }

            p {
                align-self: flex-end;
                width: 135px;
                font-size: 1.6rem;
                font-weight: 300;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
}
